.F{

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
 width: 100%;
  background-color: #000000; /* Solid black background */
  color: white;
  padding: 1rem;
  text-align: center; /* Optional: Center the text inside the footer */
}


