
.Footer-relative {
  position: relative; 
  padding: 1rem;
  
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
}

.Footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #222;
  color: white;
  text-align: center;
  z-index: 1000; 
}