.Submit{
    color : rgb(255, 255, 255);
    background-color: #b74a4aff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.Form{
    text-align: left;
     width: 80%;
    margin: 0 auto;
    
}

.Submit:hover {
    background-color: #b74a4aff;
    border-color: azure;
    color: #000000ff;
   
}
.Container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}
.la{
    display: block;
    color: rgb(255, 231, 231);
    text-align: left;
}