/* Header.css */

/* Styles for the main header bar */
.header {
  display: flex;
  
  left: 0;
  padding: 1rem;
 
}


.title {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
}

