.Submit{
    color : rgb(255, 255, 255);
    background-color: rgb(33, 144, 53);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.II{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #ccc;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.Form{
    text-align: left;
     width: 80%;
    margin: 0 auto;
    
    
}

.Submit:hover {
    background-color: rgb(0, 0, 0);
    border-color: azure;
    color: rgb(33, 144, 53);
   
}
.Container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}
.la{
    display: block;
    color: rgb(0, 0, 0);
    text-align: left;
}